@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: #3b82f6;
  --color-period: #ff80a3;
  --color-fertile: #90c4f9;
  --color-ovulation: #6c63ff;
  --color-background-light: #f7fafc;
  --color-card-light: #ffffff;
  --color-text-light: #1f2937;
  --color-text-muted-light: #6b7280;
  --color-border-light: #edf2f7;
  --color-primary-light: #ebf8ff;

  /* Font Family */
  --font-display: "Inter", "sans-serif";

  /* Border Radius */
  --radius-default: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
  --radius-full: 9999px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

body {
  font-family: var(--font-display);
  background-color: var(--color-background-light);
  color: var(--color-text-light);
}
