@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

@import "tailwindcss";

:root {
  --color-peach: #ffc8b2;
  --color-light-peach: #ffeae3;
  --color-sage-green: #a3bba1;
  --color-lavender: #d6c6e1;
  --color-terracotta: #e2725b;
  --color-beige: #f5f5dc;
  --color-text-gray: #374151;
  --color-subtext-gray: #6b7280;
  --color-soft-cream: #faf7f5;
  --color-primary: #ef60a3; /* Referensi lama */
  --color-background-light: #fff5f8;
  --color-background-dark: #2c1721;
  --color-text-light: #6d4d5c;
  --color-text-dark: #e3c2d2;
}

@theme {
  --font-display: "Poppins", "Inter", sans-serif;

  --radius: 1rem; /* DEFAULT */
  --radius-lg: 1.5rem; /* lg, xl */
  --radius-full: 9999px; /* full */

  --color-peach: var(--color-peach);
  --color-light-peach: var(--color-light-peach);
  --color-sage-green: var(--color-sage-green);
  --color-lavender: var(--color-lavender);
  --color-terracotta: var(--color-terracotta);
  --color-beige: var(--color-beige);
  --color-text-gray: var(--color-text-gray);
  --color-subtext-gray: var(--color-subtext-gray);
  --color-soft-cream: var(--color-soft-cream);
  --color-primary: var(--color-primary);
  --color-background-light: var(--color-background-light);
  --color-background-dark: var(--color-background-dark);
  --color-text-light: var(--color-text-light);
  --color-text-dark: var(--color-text-dark);

  --shadow-soft: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
